html
  scroll-behavior: smooth
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none; 
  margin: 0; 


input[type="number"]
  -moz-appearance: textfield;

.prepend-min
  min-width: 50px

.sticky
  top: 20%

.categoria
  position: relative
  top: -55px

#categoria-collapse
  z-index: 2000

  .list-group-item
    border-left: 0 none
    border-right: 0 none
    

  .list-group-item:first-child
    border-top: 0 none
    border-top-left-radius: 0
    border-top-right-radius: 0