{% extends "base.twig" %}

{% block titulo %}
    Administrador
{% endblock titulo %}

{% block cuerpo %}
{# PROTOTIPO, FALTA TODA LA FUNCIONALIDAD #}
    <div class="d-flex justify-content-center align-items-center card">
        <div class="card-body">
            <form action="">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="usuario">Large</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="usuario">
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contrasenna">Large</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="contrasenna">
                </div>
            </form>
        </div>
    </div>
{% endblock cuerpo %}
