<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/reto3/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="position-relative" data-spy="scroll" data-target="#scrollspy" data-offset="0">
    {% block cuerpo %}
    {% endblock cuerpo %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% if administrador %}
    <script type="text/javascript" src="js/controller/AdminController.js"></script>
    <script type="text/javascript" src="js/model/plato.js"></script>
    <script>
        // Este fragmento de código es temporal, después ira en un archivo del directorio /js

        // Validación de datos de los formularios con Bootstrap.
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        // CRUD Admin - Modificar usuario
        // http://facturacionweb.site/blog/enviar-valores-una-ventana-modal-usando-jquery/
        $(document).ready(function(){
            $(document).on('click', '.editarAdmin', function(){
                let id=$(this).val();
                let usuario=$('#usuario'+id).text();
                let contrasenna=$('#contrasenna'+id).text();

                $('#editarAdmin').modal('show');
                $('#eidAdmin').val(id);
                $('#eusuarioAdmin').val(usuario);
                $('#econtrasennaAdmin').val(contrasenna);

            });
        });
    </script>
{% endif %}
</html>