<aside class="col-3 d-none d-lg-block align-self-start position-fixed offset-9 sticky">
    <div class="card border-primary">
        <h5 class="card-header">Lorem</h5>
        <div class="card-body">
            <h5 class="card-title">Ipsum</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus, voluptates facilis recusandae provident dolores odit! Sit reiciendis voluptate est quisquam, optio quod suscipit eaque quam, quo, numquam perspiciatis odit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis explicabo doloribus laborum. Sapiente incidunt pariatur omnis veritatis earum quisquam, magni amet praesentium, ab porro officiis dolorum dignissimos fugit reiciendis! Tempore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos quod itaque, exercitationem voluptas rem delectus omnis expedita quia. Explicabo tempora molestias voluptates temporibus corrupti perferendis dolore beatae sunt numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam repellat natus earum cumque, velit voluptatem provident placeat at corporis harum similique magni mollitia est, omnis fugiat, sit perspiciatis consequatur itaque!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem, maiores odio voluptatum mollitia laudantium animi, enim iusto unde similique praesentium autem dolorem quia corporis nostrum at ab ipsa fugiat!
                lore
            </p>
            <a href="#" class="btn btn-primary">hh</a>
        </div>
    </div>    
</aside>