<aside class="col-3 d-none d-lg-block align-self-start position-sticky sticky">
    <div class="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem consectetur minus veritatis iste, beatae cum recusandae dolores pariatur, placeat dolorum voluptatibus doloremque provident id voluptate. Harum dolorum possimus doloremque illo!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptate totam cumque, provident voluptatibus consequatur harum aliquam doloribus quibusdam, ipsum qui nulla nobis eaque ipsam accusamus odit atque repellendus suscipit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corporis, nulla optio unde dolores cumque ipsum veniam rerum modi sed et porro nam minima placeat, nihil vero molestias, aperiam sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, perspiciatis quam aliquam, expedita veniam vero quae perferendis officia sequi voluptatum harum saepe earum maiores libero maxime dignissimos cum velit aspernatur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum facilis ducimus suscipit necessitatibus quibusdam consequuntur consectetur, numquam exercitationem voluptates repellat vel omnis alias quis. Illo repellendus provident aut dolores reprehenderit?
    </div>
    
</aside>