    <span class="tabla-carrito">
        {# esta plantilla se carga en cliente, no en servidor
        véase carrito.js #}
    </span>
    <div class="container-fluid">
        <div class="row">
            <h3 class="my-auto col-6 border-top py-2 bg-light d-flex justify-content-between">
                <span>
                    Total:
                </span>
                <span id="carrito-total">
                </span>
            </h3>
            <button type="button" class="carrito-comprar col-6 btn btn-primary py-2 rounded-0">
                <h4 class="py-0 my-auto">Comprar</h4>
            </button>
        </div>
    </div>