<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top mb-2 border-bottom">
    <a class="navbar-brand" href="/reto3/"><img src="/reto3/img/logo-restaurant.png" alt="Egibide Hostelería" height=32px></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.egibide.org/">Egibide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.egibide.org/escuela-de-hosteleria/">Escuela de Hostelería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.egibide.org/campus-mendizorrotza/">Contacto</a>
            </li>
            {% if administrador %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" id="ver-pedidos">Ver pedidos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="nuevo-plato">Nuevo plato</a>
                    <a class="dropdown-item" href="#" id="nuevo-administrador">Nuevo administrador</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="modificar-categoria">Modificar categorías</a>
                    <a class="dropdown-item" href="#" id="modificar-tipoVenta">Modificar tipos de venta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/reto3/?c=admin&a=salir" id="cerrar-sesion">Cerrar sesión</a>

                </div>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0 input-group w-auto ml-4">
            <input class="form-control" type="search" placeholder="Búsqueda" aria-label="Search" id="search">
            <div class="input-group-append">
                <span class="input-group-text py-0"><i class="material-icons align-bottom">search</i></span>
            </div>
        </form>
    </div>
</nav>