<div id="verPedidoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles del pedido</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="verPedidoModalTabla" class="table table-bordered table-striped text-center">
                    <!--<thead>
                    <tr>
                        <th scope="col" colspan="2">Plato</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="col">Entrecot con patatas</td>
                        <td>10 x 24,99E</td>
                        <td>249,90</td>
                    </tr>-->
                    <!--- fin del for en lo que se ha pedido--->
                    <!--</tbody>-->
                </table>
            </div>
        </div>
    </div>
</div>